*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 79, 116);
}

.big_container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

h1 {
    color: white; 
    font-size: 80px;
    margin-bottom: 50px;
}

#container_square {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 130px;
    margin-bottom: 20px;
    font-size: 30px;
}

.squareBasic {
    background-color: rgb(51, 115, 199);
    
}

.square_fizz {
    background-color: rgb(34, 224, 183);
}

.square_buzz {
    background-color: rgb(253, 237, 89);
}

.square_fizzBuzz{
    background-color: rgb(185, 35, 110);
}